//colors
$color_wild_sand_approx: #f5f5f5;
$color_niagara_approx: #16a085;
$white: #ffffff;
$color_tundora_approx: #454545;
$color_suva_gray_approx: #888;
$color_corn_approx: #f1c40f;
$color_niagara_60_approx: rgba(22, 160, 133, 0.6);
$black_10: rgba(0, 0, 0, 0.1);
$color_mine_shaft_approx: #333;
$black_20: rgba(0, 0, 0, 0.2);
$color_celeste_approx: #ccc;
$color_alto_approx: #dcdcdc;
$mercury: #e5e5e5;
$color_storm_dust_approx: #666;
$color_gallery_approx: #eee;
$color_green_approx: #00cc00;
$color_milano_red_approx: #ac1c00;

@import 'info';
@import 'tab';
@import 'simple-list';
@import 'with-sidebar';
@import 'single';
@import 'cart';


.product:hover .product-overlay {
    bottom: 0;
}
