.shop {
    &-simple-list {
        margin: 15px 0px;
        .product {
            position: relative;
            float: left;
        }
        .product-image {
            position: relative;
            width: 100%;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
            }
            > a {
                display: block;
                width: 100%;
                &:nth-of-type(2) {
                    opacity: 0;
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                }
            }
            .slide a {
                display: block;
                width: 100%;
            }
            &:hover > a:nth-of-type(2) {
                opacity: 1;
                z-index: 2;
            }
        }
        .product-desc {
            padding: 15px 0;
            font-size: 14px;
            h3 {
                margin: 0 0 10px 0;
                font-size: 22px;
            }
            h4 {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 20px;
                text-decoration: none;
                del {
                    font-weight: 400;
                    font-size: 80%;
                }
            }
            .product-rating .fa {
                font-size: 18px;
            }
        }
        .product-overlay {
            position: absolute;
            width: 100%;
            height: 44px;
            line-height: 44px;
            top: auto;
            bottom: -44px;
            left: 0;
            z-index: 6;
            a {
                display: block;
                float: left;
                width: 50%;
                font-size: 13px;
                text-align: center;
                border-right: 1px solid ;
                &.gallery-zoom {
                    border-right: 0;
                }
                i {
                    position: relative;
                    font-size: 18px;
                }
                &:hover {
                    text-shadow: 1px 1px 1px ;
                }
            }
        }
        .advert {
            margin: 15px;
            height: 200px;
        }
    }
}
