.shop {
    &-single {
        .product-image {
            position: relative;
            width: 100%;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
            }
            > a {
                display: block;
                width: 100%;
                &:nth-of-type(2) {
                    opacity: 0;
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                }
            }
            .slide a {
                display: block;
                width: 100%;
            }
            &:hover > a:nth-of-type(2) {
                opacity: 1;
                z-index: 2;
            }
        }
        .product-desc {
            h1 {
                margin-top: 0;
                font-size: 32px;
                font-weight: 400;
            }
            h4 {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 20px;
                text-decoration: none;
                del {
                    font-weight: 400;
                    font-size: 80%;
                }
            }
            .product-rating {
                margin-bottom: 20px;
                span {
                    margin-right: 10px;
                }
                .fa {
                    font-size: 18px;
                }
            }
            .input-group {
                margin-right: 10px;
                .form-control {
                    width: 50px;
                }
            }
        }
        .review {
            .product-rating {
                clear: left;
                .fa {
                    font-size: 18px;
                }
            }
            h4 {
                float: left;
            }
            h5 {
                float: right;
                margin-top: 15px;
            }
        }
        .more-info-tabs {
            margin: 50px 0;
        }
        .ribbon {
            position: absolute;
            top: -4px;
            right: 11px;
            width: 82px;
            height: 82px;
            overflow: hidden;
            z-index: 10;
        }
        .sidebar {
            .widget {
                margin-top: 40px;
                padding-bottom: 20px;
                border-bottom: 1px solid ;
                &:nth-of-type(1) {
                    margin-top: 0;
                }
                &:nth-last-child(1) {
                    border-bottom: none;
                }
                h4 {
                    margin-top: 0;
                    margin-bottom: 20px;
                }
            }
            .nav-pills > li {
                float: left;
                > a {
                    border-radius: 4px;
                    font-weight: 600;
                    color: currentColor;
                }
                + li {
                    margin-left: 2px;
                }
                &.active > a {


                    &:hover {


                    }
                    &:focus {


                    }
                }
            }
            .nav-stacked > li {
                float: none;
                + li {
                    margin-top: 2px;
                    margin-left: 0;
                }
            }
        }
        .sml-item {
            clear: left;
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px dashed ;
            .entry-image {
                float: left;
                margin: 0 15px 0 0;
                text-align: center;
                width: 48px;
                height: 48px;
                a {
                    width: 48px;
                    height: 48px;
                    i {
                        font-size: 28px;
                        line-height: 48px;
                    }
                }
                img {
                    width: 48px;
                    height: 48px;
                }
                i {
                    width: 48px;
                    height: 48px;
                }
            }
            h4 {
                margin: 0 0 10px 0;
                font-size: 18px;
            }
            h5 {
                float: left;
                font-size: 16px;
                font-weight: 600;
                margin-top: 0;
                margin-bottom: 20px;
                text-decoration: none;
            }
            .product-rating {
                float: right;
                .fa {
                    font-size: 14px;
                }
            }
        }
    }
}
body:not(.device-touch):not(.device-xs):not(.device-xxs) {
    .shop-single .product-image > a {
        transition: all .5s ease;
    }
}
