.shop {
    &-plus-sidebar {
        .product {
            position: relative;
            float: left;
            margin-bottom: 40px;
        }
        .product-image {
            position: relative;
            width: 100%;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
            }
            > a {
                display: block;
                width: 100%;
                &:nth-of-type(2) {
                    opacity: 0;
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                }
            }
            .slide a {
                display: block;
                width: 100%;
            }
            &:hover > a:nth-of-type(2) {
                opacity: 1;
                z-index: 2;
            }
        }
        .product-desc {
            padding: 15px 0;
            font-size: 14px;
            h3 {
                margin: 0 0 10px 0;
                font-size: 22px;
                a{
                  color: currentColor;
                }
            }
            h4 {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 20px;
                text-decoration: none;
                del {
                    font-weight: 400;
                    font-size: 80%;
                }
            }
            .product-rating .fa {
                font-size: 18px;
            }
        }
        .product-overlay {
            position: absolute;
            width: 100%;
            height: 44px;
            line-height: 44px;
            top: auto;
            bottom: -44px;
            left: 0;
            z-index: 6;
            a {
                display: block;
                float: left;
                width: 50%;
                font-size: 13px;
                text-align: center;
                border-right: 1px solid ;
                &.gallery-zoom {
                    border-right: 0;
                }
                i {
                    position: relative;
                    font-size: 18px;
                }
                &:hover {
                    text-shadow: 1px 1px 1px ;
                }
            }
        }
        .advert {
            margin: 15px;
            height: 200px;
        }
        .sidebar {
            .widget {
                margin-top: 40px;
                padding-bottom: 20px;
                border-bottom: 1px solid ;
                &:nth-of-type(1) {
                    margin-top: 0;
                }
                &:nth-last-child(1) {
                    border-bottom: none;
                }
                h4 {
                    margin-top: 0;
                    margin-bottom: 20px;
                }
            }
            .nav-pills > li {
                float: left;
                > a {
                    border-radius: 4px;
                    font-weight: 600;
                    color: currentColor;
                }
                + li {
                    margin-left: 2px;
                }
                &.active > a {
                    background-color: rgba(0,0,0,0.2);
                    &:hover {

                    }
                    &:focus {

                    }
                }
            }
            .nav-stacked > li {
                float: none;
                + li {
                    margin-top: 2px;
                    margin-left: 0;
                }
            }
        }
        .sml-item {
            clear: left;
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px dashed ;
            .entry-image {
                float: left;
                margin: 0 15px 0 0;
                text-align: center;
                width: 48px;
                height: 48px;
                a {
                    width: 48px;
                    height: 48px;
                    i {
                        font-size: 28px;
                        line-height: 48px;
                    }
                }
                img {
                    width: 48px;
                    height: 48px;
                }
                i {
                    width: 48px;
                    height: 48px;
                }
            }
            h4 {
                margin: 0 0 10px 0;
                font-size: 18px;
            }
            h5 {
                float: left;
                font-size: 16px;
                font-weight: 600;
                margin-top: 0;
                margin-bottom: 20px;
                text-decoration: none;
            }
            .product-rating {
                float: right;
                .fa {
                    font-size: 14px;
                }
            }
        }
    }
}
body:not(.device-touch):not(.device-xs):not(.device-xxs) {
    .shop-plus-sidebar .product-image > a {
        transition: all .5s ease;
    }
}
