// Glyphicons font path
$icon-font-path:        "../fonts/";


// Colors
$brand-primary:         #27ae60;


$color_elephant_approx: #193441;
$black: #000000;
$white_60: rgba(255, 255, 255, 0.6);
$white: #fff;
$white_80: rgba(255, 255, 255, 0.8);
$color_curious_blue_approx: #3498db;
$color_mine_shaft_approx: #333;
$color_william_approx: #3e606f;
$color_niagara_approx: #16a085;
$color_pickled_bluewood_approx: #2c3e50;
$color_mountain_meadow_approx: #1abc9c;
$gray: #ecf0f1;
$black_20: rgba(0,0,0,0.20);
$color_pewter_approx: #95a5a6;


// flat color ui

.bg-black { 
	background-color: #111111 !important; 
	color: #fff;
}
.bg-white { background-color: #FFFFFF !important; }
.bg-offwhite { background-color: #F5F5F5 !important; }
.bg-clouds { background-color: #ECF0F1 !important; }
.bg-silver { background-color: #BDC3C7 !important; }
.bg-concrete { 
	background-color: #95A5A6 !important;
	color: #fff;
}
.bg-asbestos { 
	background-color: #7F8C8d !important;
	color: #fff;
}
.bg-tan { background-color: #D1DBBD !important; }
.bg-pewter { background-color: #91AA9D !important; }
.bg-moonlight { background-color: #3E606F !important;
	color: #fff; }
.bg-deepocean { background-color: #193441 !important;
	color: #fff; }
.bg-turquoise { background-color: #1ABC9C !important; }
.bg-aqua { background-color: #16A085 !important; }
.bg-sunflower { background-color: #F1C40F !important; }
.bg-orange { background-color: #F39C12 !important; color: #fff;}
.bg-sienna { background-color: #BF4E19 !important;color: #fff; }
.bg-milanored { background-color: #AC1C00 !important;color: #fff; }
.bg-river { background-color: #3498DB !important; 
	color: #fff; }
.bg-marina { background-color: #2980B9 !important;color: #fff; }
.bg-deco { background-color: #C9D787 !important; }
.bg-crete { background-color: #7D8A2E !important; color: #fff;}
.bg-guardsman { 
	background-color: #D90000 !important; 
	color: #fff;}
.bg-pomegranate { 
	background-color: #C0392B !important;
	color: #fff; }
.bg-finn { 
	background-color: #723147 !important;
	color: #fff; }
.bg-tamarind { 
	background-color: #31152B !important; 
	color: #fff;
}

