// Glyphicons font path
$icon-font-path:        "../fonts/";


// Colors
$brand-primary:         #27ae60;


$color_elephant_approx: #193441;
$black: #000000;
$white_60: rgba(255, 255, 255, 0.6);
$white: #fff;
$white_80: rgba(255, 255, 255, 0.8);
$color_curious_blue_approx: #3498db;
$color_mine_shaft_approx: #333;
$color_william_approx: #3e606f;
$color_niagara_approx: #16a085;
$color_pickled_bluewood_approx: #2c3e50;
$color_mountain_meadow_approx: #1abc9c;
$gray: #ecf0f1;
$black_20: rgba(0,0,0,0.20);
$color_pewter_approx: #95a5a6;


// flat color ui
$color-list: (
	(black, #111111),
	(white, #FFFFFF),
	(offwhite, #F5F5F5),
	(clouds, #ECF0F1),
	(silver, #BDC3C7),
	(concrete, #95A5A6),
	(asbestos, #7F8C8d),
	(tan, #D1DBBD),
	(pewter, #91AA9D),
	(moonlight, #3E606F),
	(deepocean, #193441),
	(turquoise, #1ABC9C),
	(aqua, #16A085),
	(sunflower, #F1C40F),
	(orange, #F39C12),
	(sienna, #BF4E19),
	(milanored, #AC1C00),
	(river, #3498DB),
	(marina, #2980B9),
	(deco, #C9D787),
	(crete, #7D8A2E),
	(guardsman, #D90000),
	(pomegranate, #C0392B),
	(finn, #723147),
	(tamarind, #31152B)
);

// from https://github.com/FezVrasta/bootstrap-material-design/blob/master/sass/_mixins-utilities.scss
// contrast-color and brightness borrowed from compass
// Copyright (c) 2009-2014 Christopher M. Eppstein
// Complies with license: https://github.com/Compass/compass/blob/stable/LICENSE.markdown
@function contrast-color($color, $dark: $contrasted-dark-default, $light: $contrasted-light-default, $threshold: null) {
  @if $threshold {
    // Deprecated in Compass 0.13
    @warn "The $threshold argment to contrast-color is no longer needed and will be removed in the next release.";
  }
  @if $color == null {
    @return null;
  }
  @else {
    $color-brightness: brightness($color);
    $dark-text-brightness: brightness($dark);
    $light-text-brightness: brightness($light);
    @return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), $light, $dark);
  }
}

@function brightness($color) {
  @if type-of($color) == color {
    @return (red($color) * 0.299 + green($color) * 0.587 + blue($color) * 0.114) / 255 * 100%;
  }
  @else {
    @return unquote("brightness(#{$color})");
  }
}

@each $label, $color in $color-list {
  .bg-#{$label}{
    background-color: $color;
    color: contrast-color($color);
  };
}
