// Glyphicons font path
$icon-font-path:        "../fonts/";


// Colors
$brand-primary:         #27ae60;


$color_elephant_approx: #193441;
$black: #000000;
$white_60: rgba(255, 255, 255, 0.6);
$white: #fff;
$white_80: rgba(255, 255, 255, 0.8);
$color_curious_blue_approx: #3498db;
$color_mine_shaft_approx: #333;
$color_william_approx: #3e606f;
$color_niagara_approx: #16a085;
$color_pickled_bluewood_approx: #2c3e50;
$color_mountain_meadow_approx: #1abc9c;
$gray: #ecf0f1;
$black_20: rgba(0,0,0,0.20);
$color_pewter_approx: #95a5a6;


// flat color ui
@mixin generate-bg($color, $hexa) {
  .bg-#{$color} {
    background-color: $hexa;
    color: invert($hexa)
  }
}

@include generate-bg(black, #111111);
@include generate-bg(white, #FFFFFF);
@include generate-bg(offwhite, #F5F5F5);
@include generate-bg(clouds, #ECF0F1);
@include generate-bg(silver, #BDC3C7);
@include generate-bg(concrete, #95A5A6);
@include generate-bg(asbestos, #7F8C8d);
@include generate-bg(tan, #D1DBBD);
@include generate-bg(pewter, #91AA9D);
@include generate-bg(moonlight, #3E606F);
@include generate-bg(deepocean, #193441);
@include generate-bg(turquoise, #1ABC9C);
@include generate-bg(aqua, #16A085);
@include generate-bg(sunflower, #F1C40F);
@include generate-bg(orange, #F39C12);
@include generate-bg(sienna, #BF4E19);
@include generate-bg(milanored, #AC1C00);
@include generate-bg(river, #3498DB);
@include generate-bg(marina, #2980B9);
@include generate-bg(deco, #C9D787);
@include generate-bg(crete, #7D8A2E);
@include generate-bg(guardsman, #D90000);
@include generate-bg(pomegranate, #C0392B);
@include generate-bg(finn, #723147);
@include generate-bg(tamarind, #31152B);

