.content-img-full {
    padding: 0;
    position: relative;
    .image-container {
        position: absolute;
        height: 100%;
        padding: 0;
        top: 0;
        .background-image-holder {
            background-size: cover;
            height: 100%;
        }
    }
    .content {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    h1 {
        margin-bottom: 32px;
    }
    p.lead {
        margin-bottom: 20px;
    }
}
@media(max-width: 767px) {
    .content-img-full {
        .client-row .row-wrapper {
            border-bottom: none;
        }
        .row-wrapper .col-md-3 {
            border-right: none;
        }
    }
    .content-img-full .image-container {
        display: none;
    }
}
