$color_tawny_port_approx: #723147;
.features {
    .feature-box {
        background: $color_tawny_port_approx;
        margin: 20px 0;
        padding: 35px 30px;
        text-align: center;
        border-radius: 4px;
        transition: all 0.4s ease-in 0s;
        &:hover {
            background-color: $color_revolver_approx;
            transition: all 0.4s ease-in 0s;
            .feature-icon {
                transition: all 0.4s ease-in 0s;
            }
        }
        .icon {
            height: 150px;
            width: 150px;
            max-width: 100%;
            background-color: $white;
            border-radius: 50%;
            display: block;
            text-align: center;
            vertical-align: middle;
            position: relative;
            margin: 0 auto 25px;
            span {
                line-height: 150px;
                color: $color_tawny_port_approx;
                font-size: 55px;
            }
        }
        p {
            line-height: 25px;
            color: $white;
            opacity: 0.5;
        }
        h3 {
            padding: 15px 0 0;
            color: $white;
        }
    }
    .feature-icon {
        transition: all 0.4s ease-in 0s;
    }
}