
/* PADDING, MARGIN & ALIGNMENT */
@mixin padtop($size) {
  .pad#{$size} {
    padding-top: $size+px;
  }
}
@for $i from 5 through 90 {
  @if ($i % 5) == 0 {
    @include padtop($i + 5);
  }
}
/* min height*/
@mixin min-height($size) {
  .min-height-#{$size+px} {
    min-height: $size+px;
  }
}
@for $i from 100 through 800 {
  @if ($i % 100) == 0 {
    @include min-height($i);
  }
}


@mixin square($size) {
  width: $size;
  height: $size;
}
@mixin border-radius($radius) {
  border-radius: $radius;
}
.carre{
	 @include square(10px);
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
           url('#{$file-path}.woff') format('woff'),
           url('#{$file-path}.ttf') format('truetype'),
           url('#{$file-path}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
  // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: $font-family;
        src: url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }
}
