.shop-simple-list {
  margin: 15px 0px;
}

.shop-simple-list .product {
  position: relative;
  float: left;
}

.shop-simple-list .product-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.shop-simple-list .product-image img {
  display: block;
  width: 100%;
}

.shop-simple-list .product-image > a {
  display: block;
  width: 100%;
}

.shop-simple-list .product-image > a:nth-of-type(2) {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.shop-simple-list .product-image .slide a {
  display: block;
  width: 100%;
}

.shop-simple-list .product-image:hover > a:nth-of-type(2) {
  opacity: 1;
  z-index: 2;
}

.shop-simple-list .product-desc {
  padding: 15px 0;
  font-size: 14px;
}

.shop-simple-list .product-desc h3 {
  margin: 0 0 10px 0;
  font-size: 22px;
}

.shop-simple-list .product-desc h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  text-decoration: none;
}

.shop-simple-list .product-desc h4 del {
  font-weight: 400;
  font-size: 80%;
}

.shop-simple-list .product-desc .product-rating .fa {
  font-size: 18px;
}

.shop-simple-list .product-overlay {
  position: absolute;
  width: 100%;
  height: 44px;
  line-height: 44px;
  top: auto;
  bottom: -44px;
  left: 0;
  z-index: 6;
}

.shop-simple-list .product-overlay a {
  display: block;
  float: left;
  width: 50%;
  font-size: 13px;
  text-align: center;
  border-right: 1px solid;
}

.shop-simple-list .product-overlay a.gallery-zoom {
  border-right: 0;
}

.shop-simple-list .product-overlay a i {
  position: relative;
  font-size: 18px;
}

.shop-simple-list .product-overlay a:hover {
  text-shadow: 1px 1px 1px;
}

.shop-simple-list .advert {
  margin: 15px;
  height: 200px;
}
