.content-center {
	background: url(https://farm1.staticflickr.com/394/18837151753_41e23e1959_k_d.jpg) center top no-repeat;
	background-size: cover;
	.container {
		margin-top: 380px;
		 h1 {
			text-transform: uppercase;
			font-weight: 300;
		}
	}
}

