.footer-1-3 {
	padding-top: 40px;
	padding-bottom: 10px;
	.brand-img {
		width: 180px;
		margin: 0 auto;
		@media screen and (min-width: $screen-sm-min) {
			margin: 0;
		}
	}
	.social {
		padding:20px 0;
		display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    align-items: stretch;
	    li{
	    	display: flex;
		    flex-basis: 34px;
		    flex-grow: 1;
		    @media screen and (min-width: $screen-sm-min) {
				flex-grow: 0;
			}
	    }
		@media screen and (min-width: $screen-sm-min) {
			margin: 0;
		}
	}
	.address-bold-line {
		font-weight: 700;
		margin: 0;
		color: $white;
	}
	.adresse{
		text-align: center;
		@media screen and (min-width: $screen-sm-min) {
			text-align: right;
		}
	}
	.address {
		color: $white;
	}
	.footer-text {
		border-top: $gray 1px solid;
		text-align: center;
		margin-top: 10px;
		padding-top: 10px;
		p {
			color: $gray;
		}
	}
}