@import "compass/css3";
@import "compass/utilities";

$text_color: #222;
$link_color: #2c3e50;
$background_color: #fff;
$link_hover: lighten($link_color, 10%);
$link_focus: darken($link_color, 10%);
$link_active: lighten($link_color, 15%);
$hover_gallery: lighten($background_color, 10%);
$white: #fff;
$gray: #333;
$white_60: lighten($white, 40%);
$radius: 2px;
$vertical-radius: $radius;
//@extend-elements
//original selectors
//.gallery-item .gallery-thumb .gallery-zoom, .gallery-item .gallery-thumb .gallery-link
%galerie__item {
    width: 45px;
    height: 45px;
    text-align: center;
    background-color: $color_pickled_bluewood_approx;
    display: none;
    line-height: 1;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding-top: 14px;
    font-size: 18px;
    color: $white;
    display: block;
    @include border-radius($radius, $vertical-radius);
}

.filter {
    list-style: none;
    padding: 0;
    margin: 0 0 60px 0;
    text-align: center;
    li {
        display: inline-block;
        margin: 0;
        &:before {
            display: inline-block;
            content: "/";
            padding: 0 25px 0 19px;
            color: $text_color;
        }
        a {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
            color: $link_color;
            &:hover {
                color: $link_hover;
                text-decoration: none;
            }
            &:focus {
                color: $link_focus;
                text-decoration: none;
            }
            &.active {
                color: $link_active;
                text-decoration: none;
            }
        }
        &:first-child:before {
            display: none;
        }
    }
}

.gallery-item-wrapper {
    padding-bottom: 25px;
}

.gallery-item {
    overflow: hidden;
    transition: all 0.2s ease;
    border-radius: 3px;
    border: 2px solid $gray;
    .gallery-thumb {
        position: relative;
        overflow: hidden;
        img {
            transition: all 0.2s ease;
        }
        .image-overlay {
            background-color: $background_color;
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            transition: all 0.2s ease;
        }
        .gallery-zoom {
            @extend %galerie__item;
            left: 0;
            margin-left: -45px;
            transition: all 0.2s ease;
            &:hover {
                background-color: $hover_gallery;
                color: $white;
            }
            &:focus {
                outline: none;
            }
        }
        .gallery-link {
            @extend %galerie__item;
            right: 0;
            margin-right: -45px;
            transition: all 0.2s ease;
            &:hover {
                background-color: $hover_gallery;
                color: $gray;
            }
            &:focus {
                outline: none;
            }
        }
    }
    .gallery-details {
        text-align: center;
        padding: 20px 0;
        background-color: $white;
        border-top: 0;
        overflow: hidden;
        h5 {
            margin: 0;
            font-size: 1em;
            font-weight: 700;
            position: relative;
        }
        p {
            font-size: .9em;
        }
    }
    &:hover .gallery-thumb {
        img {
            transform: scale(1.1);
        }
        .image-overlay {
            opacity: 0.50;
            filter: alpha(opacity=50);
        }
        .gallery-zoom {
            display: block;
            left: 50%;
            margin-left: -48px;
        }
        .gallery-link {
            display: block;
            right: 50%;
            margin-right: -48px;
        }
    }
}

.isotope {
    transition-duration: 0.8s;
    transition-property: height, width;
    .isotope-item {
        transition-duration: 0.8s;
        transition-property: transform, opacity;
        &.no-transition {
            transition-duration: 0s;
        }
    }
    &.no-transition {
        transition-duration: 0s;
        .isotope-item {
            transition-duration: 0s;
        }
    }
}

.grid {
    overflow: hidden;
    text-align: center;
    margin: 10px 0;
    figure {
        position: relative;
        z-index: 1;
        display: inline-block;
        overflow: hidden;
        height: 300px;
        background: $link_color;
        text-align: center;
        cursor: pointer;
        img {
            position: relative;
            display: block;
            min-height: 100%;
            opacity: 0.8;
        }
        figcaption {
            padding: 2em;
            color: $white;
            text-transform: uppercase;
            font-size: 1.25em;
            backface-visibility: hidden;
            @extend %absolute;
        }
        figcaption::before {
            pointer-events: none;
        }
        figcaption::after {
            pointer-events: none;
        }
        a {
            @extend %absolute;
            z-index: 1000;
            text-indent: 200%;
            white-space: nowrap;
            font-size: 0;
            opacity: 0;
        }
        h2 {
            word-spacing: -0.15em;
            font-weight: 300;
            margin: 0;
        }
        p {
            margin: 0;
            letter-spacing: 1px;
            font-size: 68.5%;
        }
    }
}

#isotope-gallery-container .col-md-3 {
    margin-right: -1px;
}

.flush .gallery-item {
    border-radius: 0;
}

figure {
    &.effect-lily {
        img {
            width: calc(100% + 50px);
            opacity: 0.5;
            transition: opacity 0.35s, transform 0.35s;
            transform: translate3d(-40px, 0, 0);
        }
        figcaption {
            top: auto;
            bottom: 0;
            height: 50%;
            text-align: left;
        }
        h2 {
            transform: translate3d(0, 40px, 0);
            transition: transform 0.35s;
        }
        p {
            transform: translate3d(0, 40px, 0);
            color: $white_60;
            opacity: 0;
            transition: opacity 0.2s, transform 0.35s;
        }
        &:hover {
            img {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
            p {
                opacity: 1;
                transform: translate3d(0, 0, 0);
                transition-delay: 0.05s;
                transition-duration: 0.35s;
            }
            h2 {
                transform: translate3d(0, 0, 0);
            }
        }
    }
}

.gallery-zoom {
    margin: 0 auto;
    right: 0;
}
