$headingfont: 'Lato';
/* PADDING, MARGIN & ALIGNMENT */
@mixin padtop($size) {
  .pad#{$size} {
    padding-top: $size+px;
  }
}
@for $i from 5 through 90 {
  @if ($i % 5) == 0 {
    @include padtop($i + 5);
  }
}
/* min height*/
@mixin min-height($size) {
  .min-height-#{$size+px} {
    min-height: $size+px;
  }
}
@for $i from 100 through 800 {
  @if ($i % 100) == 0 {
    @include min-height($i);
  }
}
$icon-font-path: "../fonts/"; //	Exemple
// @include font-face('Lato', '#{$icon-font-path}lato-normal', normal, normal);
// @include font-face('Lato', '#{$icon-font-path}lato-light', 300, normal);
.marg-bottom5 {
  margin-bottom: 5px;
}
.marg-left5 {
  margin-left: 5px;
}
.marg-right5 {
  margin-right: 5px;
}
.but_marg {
  margin-left: 3px;
}
.v-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
/** TYPOGRAPHY **/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $headingfont, Helvetica, Arial, sans-serif;
  line-height: 1.1;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
  color: #e5e5e5;
}
h1,
h2,
h3 {
  margin-bottom: 20px;
  font-weight: 300;
}
h4,
h5,
h6 {
  margin-bottom: 15px;
  font-weight: 400;
}
h1,
.h1 {
  font-size: 44px;
}
h2,
.h2 {
  font-size: 37px;
}
h3,
.h3 {
  font-size: 27px;
}
h4,
.h4 {
  font-size: 23px;
}
h5,
.h5 {
  font-size: 18px;
}
h6,
.h6 {
  font-size: 16px;
}
.underline-dotted {
  border-bottom: 1px dashed;
  &:hover {
    color: #C0392B;
    text-decoration: none;
  }
}
.underlined-title {
  text-align: center;
  padding-bottom: 30px;
  h1 {
    margin: 0;
  }
  h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
  }
  hr {
    width: 10%;
    border-width: 2px;
    border-color: inherit;
  }
}
/*===================================================================================*/
/*	BUTTONS
/*===================================================================================*/
.btn {
  color: #FFF;
  padding: 10px 20px;
  margin: 15px 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: none;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
}
.btn-sm {
  padding: 7px 13px;
  font-size: 12px;
}
.btn-lg {
  padding: 16px 26px;
  font-size: 16px;
}
.btn-xl {
  padding: 18px 30px;
  font-size: 24px;
  border-radius: 6px;
}
h1 .btn,
h2 .btn,
h3 .btn,
h4 .btn,
p .btn {
  margin-left: 15px;
}
/* Button DISABLED */
.disabled a {
  cursor: not-allowed;
}
/* Button DEFAULT */
.btn.btn-default {
  background: #ecf0f1;
  box-shadow: 0 2px #bdc3c7;
  color: #999;
}
.btn.btn-default:hover {
  background: #bdc3c7;
}
/* Button PRIMARY */
.btn.btn-primary {
  background: #1abc9c;
  box-shadow: 0 2px #16a085;
}
.btn.btn-primary:hover {
  background: #16a085;
}
/* Button WARNING */
.btn.btn-warning {
  background: #f1c40f;
  box-shadow: 0 2px #f39c12;
}
.btn.btn-warning:hover {
  background: #f39c12;
}
/* Button DANGER */
.btn.btn-danger {
  background: #e74c3c;
  box-shadow: 0 2px #c0392b;
}
.btn.btn-danger:hover {
  background: #c0392b;
}
/* Button SUCCESS */
.btn.btn-success {
  background: #2ecc71;
  box-shadow: 0 2px #27ae60;
}
.btn.btn-success:hover {
  background: #27ae60;
}
/* Button DARK */
.btn.btn-dark {
  background: #34495e;
  box-shadow: 0 2px #2c3e50;
  color: #ffffff;
}
.btn.btn-dark:hover {
  background: #2c3e50;
}
/* Button INFO */
.btn.btn-info {
  background: #3498db;
  box-shadow: 0 2px #2980b9;
}
.btn.btn-info:hover {
  background: #2980b9;
}
/* Outline Buttons */
.btn-outline {
  color: inherit;
  padding: 12px 20px;
  margin: 15px 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  text-shadow: none;
  border: none;
  text-transform: uppercase;
  border-radius: 25px;
}
.btn-outline:hover {
  text-decoration: none;
  color: inherit;
}
.btn-outline-sm {
  padding: 5px 13px;
  font-size: 13px;
}
.btn-outline-lg {
  padding: 14px 26px;
  font-size: 15px;
}
.btn-outline-xl {
  padding: 18px 30px;
  font-size: 24px;
}
.btn-outline.outline-light,
.icon.outline-light {
  color: inherit;
  background: none;
  border: 2px solid;
}
.btn-outline.outline-light:hover,
.icon.outline-light:hover {
  color: inherit;
  background: inherit;
}
.btn-outline.outline-dark,
.icon.outline-dark {
  color: inherit;
  background: none;
  border: 2px solid;
}
.btn-outline.outline-dark:hover,
.icon.outline-dark:hover {
  color: inherit;
  background: inherit;
}
button:hover {
  text-decoration: none;
  transition: all 0.3s ease;
}
.image-container {
  position: absolute;
  height: 100%;
  padding: 0;
  top: 0;
}
.background-image-holder {
  height: 100%;
}
/* fix button */
.input-group-btn > .btn {
  position: relative;
  margin: 0;
}
/* FORM CONTROL */
fieldset {
  border: 2px solid #ecf0f1;
  border-radius: 6px;
  padding: 30px 50px;
}
fieldset legend {
  color: #333;
  padding: 5px 10px;
  border: 2px solid #ecf0f1;
  border-radius: 6px;
}
.form-control {
  border: 2px solid #ecf0f1;
  color: #34495e;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.467;
  padding: 8px 12px;
  height: 40px;
  appearance: none;
  border-radius: 6px;
  box-shadow: none;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
.form-group {
  position: relative;
  margin-bottom: 20px;
}
.form-group.focus .form-control,
.form-control:focus {
  border-color: #1abc9c;
  outline: 0;
  box-shadow: none;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #f4f6f6;
  border-color: #d5dbdb;
  color: #d5dbdb;
  cursor: default;
  opacity: 0.7;
  filter:alpha(opacity=70);
}
.form-control.form-minimal {
  border-color: transparent;
}
.form-control.form-minimal:hover {
  border-color: #bdc3c7;
}
.form-control.form-minimal:focus {
  border-color: #1abc9c;
}
.has-success .help-block,
.has-success .control-label {
  color: #2ecc71;
}
.has-success .form-control {
  color: #2ecc71;
  border-color: #2ecc71;
  box-shadow: none;
}
.has-success .form-control:-moz-placeholder {
  color: #2ecc71;
  opacity: 1;
}
.has-success .form-control::-moz-placeholder {
  color: #2ecc71;
  opacity: 1;
}
.has-success .form-control:-ms-input-placeholder {
  color: #2ecc71;
}
.has-success .form-control::-webkit-input-placeholder {
  color: #2ecc71;
}
.has-success .form-control.placeholder {
  color: #2ecc71;
}
.has-success .form-control:focus {
  border-color: #2ecc71;
  box-shadow: none;
}
.has-success .input-group-addon {
  color: #2ecc71;
  border-color: #2ecc71;
  background-color: #ffffff;
}
.has-warning .help-block,
.has-warning .control-label {
  color: #f1c40f;
}
.has-warning .form-control {
  color: #f1c40f;
  border-color: #f1c40f;
  box-shadow: none;
}
.has-warning .form-control:-moz-placeholder {
  color: #f1c40f;
  opacity: 1;
}
.has-warning .form-control::-moz-placeholder {
  color: #f1c40f;
  opacity: 1;
}
.has-warning .form-control:-ms-input-placeholder {
  color: #f1c40f;
}
.has-warning .form-control::-webkit-input-placeholder {
  color: #f1c40f;
}
.has-warning .form-control.placeholder {
  color: #f1c40f;
}
.has-warning .form-control:focus {
  border-color: #f1c40f;
  box-shadow: none;
}
.has-warning .input-group-addon {
  color: #f1c40f;
  border-color: #f1c40f;
  background-color: #ffffff;
}
.has-error .help-block,
.has-error .control-label {
  color: #e74c3c;
}
.has-error .form-control {
  color: #e74c3c;
  border-color: #e74c3c;
  box-shadow: none;
}
.has-error .form-control:-moz-placeholder {
  color: #e74c3c;
  opacity: 1;
}
.has-error .form-control::-moz-placeholder {
  color: #e74c3c;
  opacity: 1;
}
.has-error .form-control:-ms-input-placeholder {
  color: #e74c3c;
}
.has-error .form-control::-webkit-input-placeholder {
  color: #e74c3c;
}
.has-error .form-control.placeholder {
  color: #e74c3c;
}
.has-error .form-control:focus {
  border-color: #e74c3c;
  box-shadow: none;
}
.has-error .input-group-addon {
  color: #e74c3c;
  border-color: #e74c3c;
  background-color: #ffffff;
}
/* FORM - INPUT ICON */
.form-control + .input-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  line-height: 37px;
  vertical-align: middle;
  font-size: 20px;
  color: #b2bcc5;
  background-color: #ffffff;
  padding: 0 12px 0 0;
  border-radius: 6px;
}
.input-hg + .input-icon {
  line-height: 49px;
  padding: 0 16px 0 0;
}
.input-lg + .input-icon {
  line-height: 41px;
  padding: 0 15px 0 0;
}
.input-sm + .input-icon {
  font-size: 18px;
  line-height: 30px;
  padding: 0 10px 0 0;
}
/* FORM - INPUT GROUP */
.input-group .input-group-btn .btn {
  margin: 0;
  box-shadow: none;
}
.input-group .input-group-btn .btn:hover {
  background: #1abc9c;
  color: #fff;
}

/* PAGINATION */
.pagination li a {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: inherit;
  background: none;
  margin: 0 3px;
  border: 1px solid inherit;
  padding: 5px 12px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: inherit;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #1ABC9C;
  border-color: inherit;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999;
}
.pagination li:first-child a,
.pagination li:last-child a {
  border-radius: 0 !important;
}
.pagination-lg li a {
  padding: 8px 16px;
  font-size: 16px;
}
.pagination-sm li a {
  padding: 4px 10px;
  font-size: 12px;
}
/* PAGER */
.pager li > a,
.pager li > span {
  border: 1px solid inherit;
  border-radius: 0;
  color: inherit;
  font-size: 14px;
  min-width: 160px;
}
.pager li > a:hover,
.pager li > a:focus {
  border: 1px solid #ddd;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999;
  border: 1px solid #ddd;
}
