//colors
$color_wild_sand_approx: #f5f5f5;
$color_athens_gray_approx: #ecf0f1;

.team-member {
	max-width: 500px;
	margin: 0 auto 20px auto;
	overflow: hidden;
	border-top: 0;
	border: 1px solid $color_wild_sand_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	.member-name {
		margin-top: 20px;
		position: relative;
		&:before {
			content: "";
			width: 100%;
			height: 2px;
			background-color: $color_athens_gray_approx;
			display: block;
			position: absolute;
			bottom: -10px;
			left: 0;
		}
	}
	.position {
		padding: 0;
		font-family: Montserrat, sans-serif;
		display: block;
	}
	.social-links {
		padding-top: 10px;
		> li a {
			border-color: $color_athens_gray_approx;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 3px;
		}
	}
}
.team-details {
	padding: 20px;
}
.team-1 h2 {
	margin-bottom: 50px;
}

//colors
$color_pickled_bluewood_approx: #2c3e50;
$white: #fff;
$color_tree_poppy_approx: #f39c12;

.team-2 {
	.team-wrapper {
		padding-bottom: 25px;
		.team-item {
			max-width: 500px;
			margin: 0 auto;
			overflow: hidden;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.2s ease;
			.team-thumb {
				position: relative;
				overflow: hidden;
				img {
					//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: all 0.2s ease;
				}
				.image-overlay {
					background-color: $color_pickled_bluewood_approx;
					width: 100%;
					height: 100%;
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					filter: alpha(opacity=0);
					//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: all 0.2s ease;
				}
				.team-link {
					position: absolute;
					color: $white;
					display: block;
					&:hover {
						color: $color_tree_poppy_approx;
					}
				}
			}
			.team-details {
				text-align: center;
				padding-top: 20px;
				background-color: $white;
				border-top: 0;
				overflow: hidden;
			}
			&:hover .team-thumb {
				img {
					//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
					transform: scale(1.1);
				}
				.image-overlay {
					opacity: 0.50;
					filter: alpha(opacity=50);
				}
			}
		}
	}
	.col-sm-4 .team-item {
		.team-thumb .team-link {
			top: 0;
			left: 45%;
			margin-top: -50px;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.2s ease;
		}
		&:hover .team-thumb .team-link {
			display: block;
			top: 58%;
			left: 45%;
		}
	}
	.col-md-3 .team-item {
		.team-thumb .team-link {
			top: 0;
			left: 45%;
			margin-top: -50px;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.2s ease;
		}
		&:hover .team-thumb .team-link {
			display: block;
			top: 58%;
			left: 45%;
		}
	}
}
@media only screen and(min-width : 768px) {
	.team-2 {
		.col-sm-4 .team-item {
			.team-thumb .team-link {
				left: 40%;
			}
			&:hover .team-thumb .team-link {
				top: 66%;
				left: 40%;
			}
		}
		.col-sm-6 .team-item {
			.team-thumb .team-link {
				left: 43.4%;
			}
			&:hover .team-thumb .team-link {
				top: 60%;
				left: 43.4%;
			}
		}
	}
}
@media only screen and(min-width : 992px) {
	.team-2 {
		.col-sm-4 .team-item {
			.team-thumb .team-link {
				left: 42%;
			}
			&:hover .team-thumb .team-link {
				top: 62%;
				left: 42%;
			}
		}
		.col-md-3 .team-item {
			.team-thumb .team-link {
				left: 39%;
			}
			&:hover .team-thumb .team-link {
				top: 66%;
				left: 39%;
			}
		}
	}
}
@media only screen and(min-width : 1200px) {
	.team-2 {
		.col-sm-4 .team-item {
			.team-thumb .team-link {
				left: 43.4%;
			}
			&:hover .team-thumb .team-link {
				top: 60%;
				left: 43.4%;
			}
		}
		.col-md-3 .team-item {
			.team-thumb .team-link {
				left: 41.3%;
			}
			&:hover .team-thumb .team-link {
				top: 63%;
				left: 41.3%;
			}
		}
	}
}