.footer-clean {
	padding-top: 60px;
	padding-bottom: 40px;
	text-align: center;
	h2 {
		color: inherit;
	}
	.footer-form {
		margin-top: 40px;
	}
	input[type=text] {
		padding: 20px;
		width: 30%;
		color: inherit;
	}
	input[type=submit] {
		background: rgba(0, 0, 0, 0.2);
		border: solid 0px;
		padding: 20px;
		color: inherit;
		text-transform: uppercase;
		letter-spacing: 1px;
		&:hover {
			background: rgba(0, 0, 0, 0.3);
			border: solid 1px ;
			color: inherit;
		}
	}
	.social {
		margin-top: 30px;
	}
}
