.footer-plus-adress {
	padding: 10px 0;
	text-align: center;
	.brand-img {
		width: 180px;
		margin: 0 auto;
	}
	.social {
		margin-top: 20px;
	}
	.address-bold-line {
		font-weight: 700;
		margin: 0;
		color: inherit;
	}
	.address {
		color: inherit;
	}
	.footer-text {
		border-top: 1px solid;
		text-align: center;
		margin-top: 10px;
		p {
			padding-top: 15px;
		}
	}
	@media only screen and(min-width : 768px) {
		text-align: left;
		.brand-img {
			margin: 0 ;
		}
	}
	@media only screen and(min-width : 992px) {
	}
	@media only screen and(min-width : 1200px) {
	}
}
