.content-no-padding-img {
  padding: 0;
  position: relative; }
  .content-no-padding-img .image-container {
    position: absolute;
    height: 100%;
    padding: 0;
    top: 0; }
    .content-no-padding-img .image-container .background-image-holder {
      height: 100%; }
  .content-no-padding-img .content {
    padding-top: 60px;
    padding-bottom: 60px; }
  .content-no-padding-img h1 {
    font-weight: 600;
    font-size: 56px; }
  .content-no-padding-img h3 {
    margin-top: 0;
    font-weight: 600; }
