$color_pickled_bluewood_60_approx: rgba(44, 62, 80, 0.6);
.content-projects {
    min-height: 260px;
    position: relative;
    color: #fff;
    .project {
        height: 260px;
        overflow: hidden;
        position: relative;
        padding: 0;
        img {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }

        .background-image-holder {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover !important;
            z-index: 0;
            background-position: 50% 50% !important;
        }
        .hover-state {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background-color: $color_pickled_bluewood_60_approx;
            text-align: center;
            transition: all .5s ease;
            opacity: 0;
            padding: 0 25px;
            h3 {
                margin-top: 40px;
                margin-bottom: 8px;
            }
            p {

            }
            a{
                color: #fff;
            }
            .align-vertical {
                transition: all .5s ease;
                opacity: 0;
            }
        }
        &:hover {
            .hover-state {
                opacity: 1;
            }
            .align-vertical {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
        }
    }
}

@media only screen and(min-width: 768px) {
    .content-projects {
        min-height: 520px;
    }
}
@media only screen and(min-width: 992px) {
    .content-projects {
        min-height: 260px;
    }
}
